</div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   
     <link rel="stylesheet" href="stylesheet/style.css"> 
    <title></title>
</head>
<body>


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Hostel Management System</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">View Mess
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="">Breakfast</a></li>
              <li><a href="">Lunch</a></li>
              <li><a href="">Dinner</a></li>
              
            </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                
              </ul>
            </li>
        </ul>
      </div>
    
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div id="ui">

                <h1 class="text-center">REGISTRATION FORM</h1>

                <form action="" class="form-group text-center">

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fname">First Name:</label>
                            <input type="text" class="form-control" id="fname" placeholder="Enter your First Name" name="fname">
                        </div>
                        <div class="col-lg-6">
                            <label for="lname">Last Name:</label>
                            <input type="text" class="form-control" id="lname" placeholder="Enter your Last Name" name="fname">
                        </div>

                    </div>
                    <br>  

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                        </div>

                        <div class="col-lg-6">
                            <label for="pwd">Re- Type Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter Re-Type  password" name="pwd">
                        </div>

                    </div>
                
                    <br>

                    <select name="" id="" class="form-control">
                        <option value="">Choose Gender</option>
                        <option value="">Male</option>
                        <option value="">Female</option>
                        <option value="">Others</option>
                    </select>
                    <br>
                    

                    <input type="submit" name="submit" value="submit" class="btn btn-primary btn-block btn-lg">

                    
                </form>
            </div>
        </div>  

            <div class="col-lg-3"></div>

    </div>

</div>



</body>
</html>